[submodule "i3blocks-contrib"]
	path = i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib.git
[submodule "i55blocks"]
	path = i55blocks
	url = https://gitlab.com/bacardi55/i55blocks.git
